* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}


.container{
    background-color: #4ACAD9;
    box-shadow: 3px 20px 10px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.titulo{
    font-size: 60px;
    font-family: 'Barriecito', cursive;
}
.it1{
    font-size: 30px;
    font-family: 'Cinzel', serif;
    padding: 20px;
    height: 100%;
}

.it1:hover{
    background-color: #6CC23A;
    color: #F04A4F;
    transition: .5s;
}
.it2{
    font-size: 30px;
    font-family: 'Cinzel', serif;
    padding: 20px;
    height: 100%;
}
.it2:hover{
    background-color: #6CC23A;
    color: #F04A4F;
    transition: .5s;
}
.it3{
    font-size: 30px;
    font-family: 'Cinzel', serif;
    padding: 20px;
    height: 100%; 
}

.it3:hover{
    background-color: #6CC23A;
    color: #F04A4F;
    transition: .5s;
}
.titulo:hover{
    font-size:   80px ;
    transition: 1.5s ;
}

.central{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text{
    display: inline;
    margin: 16px;
    border-radius: 7%;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient( 180deg , #8F3115, #8F3115, #F6D37F, #DB6D0C, #DB6D0C, #AC1909 );
}
.text:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
    border: 2px solid black;
}
.cachorroP{
    border-radius: 7px;
    box-shadow: 12px 13px #F0FFC2;
    height: 200px;
    width: 250px;
}

#t1{
    border-radius: 4cm;
    margin-top: 17px;
    margin-bottom: 14px;
    background: #D9CC9A;
}
#p1{
    border-radius: 17px;
    padding: 15px;
    margin-bottom: 15px;
    background: #D9CC9A;
}
#b1{
    background: #D9CC9A;
    border-radius: 19px;
    height: 1.5cm;
    width: 7cm;
    border: 1px solid black}
    #b1:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        transition: 0.5s;
    }
#adote{
    font-size: 40px;
    font-family: 'Supermercado One';
}

.text2{
    display: inline;
    margin: 16px;
    border-radius: 7%;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient( 180deg , #DD591B, #DD591B,#F6D37F, #7e5486, #E0ADF8, #FAD0D4);
}
.text2:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
    border: 2px solid black;
}

#t2{
    border-radius: 4cm;
    margin-top: 17px;
    margin-bottom: 14px;
    background: #D9CC9A;
}
#p2{
    border-radius: 17px;
    padding: 15px;
    margin-bottom: 15px;
    background: #D9CC9A;
}
#b2{
    background: #D9CC9A;
    border-radius: 19px;
    height: 1.5cm;
    width: 7cm;
    border: 1px solid black;
}
#b2:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s;
}
#adote2{
    font-size: 40px;
    font-family: 'Supermercado One';
}

.gato{

    border-radius: 7px;
    box-shadow: 12px 13px #F0FFC2;
    height: 200px;
    width: 250px;
}

.text3{
    display: inline;
    margin: 16px;
    border-radius: 7%;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient( 180deg , #F9C647, #F9C647, #EFD9A0,#4371D3,#EA7E19, #EDF2F5, #EDF2F5,  #4371D3);
  


}
.text3:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
    border: 2px solid black;
}

.CShitzu{
    border-radius: 7px;
    box-shadow: 12px 13px #F0FFC2;
    height: 200px;
    width: 250px;
}

#t3{
    border-radius: 5cm;
    margin-top: 17px;
    margin-bottom: 14px;
    background: #D9CC9A;
}
#p3{
    border-radius: 17px;
    padding: 15px;
    margin-bottom: 15px;
    background: #D9CC9A;
}
#b3{
    background: #D9CC9A;
    border-radius: 19px;
    height: 1.5cm;
    width: 7cm;
    border: 1px solid black;
}
#b3:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s;
}

#adote3{
    font-size: 40px;
    font-family: 'Supermercado One';
}


  